.app-container {
  padding: 50px;
  background: linear-gradient(to right, #000428, #00FFFF);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.text {
  color: #faebeb;
}

.main-description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

.form-container {
  max-width: 600px;
  width: 100%;  
  margin: auto !important;
}



.input-field {
  border-radius: 8px;
  border: 2px solid #00FFFF;
  background-color: transparent;
  color: #fff;
}

.input-field:focus {
  border-color: #0077FF;
  box-shadow: 0 0 8px #00FFFF;
}

.submit-button {
  background-color: #00FFFF;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
}

.submit-button:hover {
  background-color: #0077FF;
}

.marketplace-section {
  margin-top: 50px;
}

.loading-spinner {
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}

.no-nfts {
  text-align: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
  border-radius: 16px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}
